<app-header></app-header>

<div class="jumbotron parallax" id="parallax-static">
    <h2 class="display-3">Share your knowledge using Genius IT circle</h2>
    <p class="lead">Find proper tutorial for your IT career.</p>
    <p class="lead">
    
    <div class="smart_search ui_widget">
        <form>
            <input type="text" class="form-control ui-autocomplete-input" id="tags" aria-label="What you would like to learn today?" placeholder="What would you like to learn today?" autocomplete="off">
            <button type="submit" class="btn btn-success" id="btnHomeSearch">Search</button>
            
        </form>
    </div>

</div>

<br/>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            
            <div class="item-wrap">
                <i class="fa fa-cog icons"></i>
                    <h4>Project Based Learning</h4>
                        <p></p>
                            <p>Learn incrementally using project based architecture</p>
                        <p></p>
            </div>
        </div>

        <div class="col-md-4">

            <div class="item-wrap">
                <i class="fa fa-check-circle icons"></i>
                    <h4>Best Material Guranteed</h4>
                        <p></p>
                            <p>Each material is compiled by certified IT professional</p>
                        <p></p>
            </div>

        </div>

        <div class="col-md-4">

            <div class="item-wrap">
                <i class="fa fa-calendar icons"></i>
                    <h4>Flexible Learning</h4>
                        <p></p>
                            <p>Learn anywhere and anytime</p>
                        <p></p>
            </div>

        </div>
    </div>
</div>



<app-footer></app-footer>