<app-header></app-header>

<mat-horizontal-stepper>
    <mat-step label="Personal Information">
     <p>Shipping Address Details</p>
     <div>
        <button mat-button matStepperNext class="btn btn-success">Next</button>
    </div>
    </mat-step>

    <mat-step label="Contact Information">
      Billing Address
      <div>
          <button mat-button matStepperPrevious class="btn btn-info">Back</button>
          <button mat-button matStepperNext class="btn btn-success">Next</button>
      </div>
    </mat-step>

    <mat-step label="Complete Profile">
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious class="btn btn-info">Back</button>
        <button mat-button class="btn btn-danger">Reset</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>