<app-header></app-header>
<br/>
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3">
              
            <div class="tutorialTitleHolder">
                Java Developement
            </div>

            <div class="tutorialLinkHolder">
                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>

                <p>
                    <i class="fas fa-caret-right fa-2x"></i> 
                    How to install Java 
                </p>
            </div>



            <div class="tutorialTitleHolder">
                Resources
            </div>

            <div class="tutorialResourceHolder">
                <p>
                    <i class="fab fa-github fa-3x"></i>  
                </p>

                <p>
                    <i class="fab fa-youtube fa-3x"></i>  
                </p>
            </div>



        </div>


        <div class="col-sm-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Library</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav>

            
            <div class="alert alert-success">
                <div class="row">
                    <div class="col-sm-4">
                     <span class="material-icons">star</span>
                     <span class="material-icons">star</span>
                     <span class="material-icons">star</span>
                     <span class="material-icons">star</span>
                     <span class="material-icons">star</span>
                     <br/>
                     10 Reviews
                    </div>
 
                    <div class="col-sm-4">
                     <span class="material-icons md-48" >bar_chart</span>
                     <br/>
                     Difficulty Level
                 </div>
 
                 <div class="col-sm-4">
                     <span class="material-icons">watch </span> 
                     <br/>
                     Duration: 30 Minutes
                 </div>
                </div>
             </div>
 

            <div class="card">
                <div class="card-block p-3">
                    <!--Title-->
                    <h3 class="text-center font-up font-bold indigo-text py-2 mb-3"><strong>How to install Java</strong></h3>

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/YozEr0OjzuA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<app-footer></app-footer>